.hotItem {
  margin-bottom: 1em;
}
.oneLine {
  width: 100%;
  height: 2em;
  font-weight: normal;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
